#widget > #graph-canvas {
    --dot-size: 1px;

    position: absolute;
    visibility: hidden;
    background: radial-gradient(
        circle at var(--dot-size) var(--dot-size),

        #9b9b9b calc(var(--dot-size) - 1px),
        #0f0f0f var(--dot-size)
    ) 0 0 / 20px 20px;
    box-shadow: inset -2px 0px 0px 15px #0f0f0f;

    top: 20px;
    height: calc(100% - 20px);
    width: 100%;
}

#widget > #graph-center-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    position: absolute;
    visibility: hidden;
    top: 30px;
    left: 10px;

    font-family: 'NerdFontsSymbols Nerd Font', monospace;
    font-weight: lighter;
    font-size: 16px;

    background: #202020;
    color: #9b9b9b;

    border: 1px solid #111111;
    border-radius: 25%;

    transition: all 0.2s ease;
    cursor: pointer;
}

#widget > #graph-center-button:hover {
    color: #bbbbbb;
    border: 1px solid #484848;
}