:root {
    /* Fonts */
    --editor-font-family: 'JetBrains Mono', monospace;
    --editor-font-size: 14px;
    
    /* Sizes */
    --editor-line-height: 20px;
    
    /* Colors */
    --editor-background-color: #111111;
    --editor-foreground-color: #edf5fd;

    --editor-active-line-number-color: #606060;
    --editor-line-number-color: #292929;

    --editor-string-color: #4EF196;
    --editor-number-color: #4EF196;
    --editor-comment-color: #606060;
    --editor-address-color: #4EF196;
    --editor-operator-color: #979088;
    --editor-keyword1-color: #F99ED4;
    --editor-keyword2-color: #63D4F5;

    --editor-caret-color: #bbbbbb;
    --editor-tab-size: 4;
}

::-webkit-resizer {
    display: none;
    pointer-events: none;
}

::-webkit-scrollbar-corner {
    display: none;
    pointer-events: none;
}

#widget > .text-editor {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 42px);

    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);
    color: var(--editor-foreground-color);
    background: var(--editor-background-color);
}

#widget > .bottom-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px;
    background: #1e1e1e;
    color: #ffffff;
    font-size: 12px;
    font-family: 'JetBrains Mono', monospace;
    padding: 0 5px;
    box-sizing: border-box;
    user-select: none;
    visibility: hidden;
}

#widget > .text-editor > .container {
    position: relative;
    margin: 0;

    width: 100%;
    height: 100%;
}

#widget > .text-editor > .container > .backdrop {
    position: absolute;
    overflow: auto;

    width: 100%;
    height: 100%;
}

#widget > .text-editor > .container > .backdrop > .hilayer {
    position: absolute;
    white-space: pre-wrap;
    word-wrap: break-word;

    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);

    width: 100%;
    height: 100%;

    padding-left: 4px;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 0px;

    line-height: var(--editor-line-height);

    margin: 0;
    border-radius: 0;
    border: none;

    resize: none;
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line {
    width: 100%;
    min-height: var(--editor-line-height);
    max-height: fit-content;
    tab-size: var(--editor-tab-size);

    text-wrap: nowrap;
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line:last-child {
    padding-bottom: 20px;
}


#widget > .text-editor > .container > .backdrop > .hilayer > .line > .boolean {
    color: var(--editor-string-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .string {
    color: var(--editor-string-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .number {
    color: var(--editor-number-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .address {
    color: var(--editor-address-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .comment {
    color: var(--editor-comment-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .operator {
    color: var(--editor-operator-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .keyword1 {
    color: var(--editor-keyword1-color);
}

#widget > .text-editor > .container > .backdrop > .hilayer > .line > .keyword2 {
    color: var(--editor-keyword2-color);
}

#widget > .text-editor > .container > .text-area {
    position: absolute;

    font-family: var(--editor-font-family);
    font-size: var(--editor-font-size);

    width: 100%;
    height: 100%;

    padding-left: 4px;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 0px;

    margin: 0;
    line-height: var(--editor-line-height);
    tab-size: var(--editor-tab-size);
    border-radius: 0;

    text-wrap: nowrap;
    border: none;
    resize: none;

    color: transparent;
    caret-color: var(--editor-caret-color);
    background-color: transparent;
    scrollbar-color: var(--editor-active-line-number-color) var(--editor-line-number-color);
}

#widget > .text-editor > .margin {
    width: 70px;
    height: 100%;
    background: transparent;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow: hidden;
}

#widget > .text-editor > .margin > .line-margin {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    overflow: hidden;
    padding: 0 5px;
    box-sizing: border-box;
    user-select: none;

    height: var(--editor-line-height);
}

#widget > .text-editor > .margin > .line-margin > .line-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    vertical-align: middle;
    background: transparent;
    height: 100%;
    width: auto;

    font-size: var(--editor-font-size);
    color: var(--editor-line-number-color);
}

#widget > .text-editor > .margin > .line-margin > .active-line-number {
    color: var(--editor-active-line-number-color);
}