@import url("https://www.nerdfonts.com/assets/css/combo.css");
@import url("https://fonts.googleapis.com/css?family=JetBrains Mono");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coustard&display=swap');

@font-face {
    font-family: 'NerdFontsSymbols Nerd Font';
    src: url("resources/fonts/Symbols-2048-em Nerd Font Complete.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

pre {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
}

html, body {
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    overflow: hidden;
    margin: 0;
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: #0f0f0f;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    height: 30px;
    margin: 0;
    z-index: 100;

    border-bottom: 1px solid #484848;
}

#toolbar .toolbar-category {
    display: inline-block;
    border: none;
    cursor: pointer;

    background: transparent;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    font-size: 0.5em;

    padding-left: 10px;
    padding-right: 10px;

    height: 20px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

#toolbar .toolbar-category:hover {
    border-radius: 5px;
    background: #252526;
    color: #ffffff;
}

#toolbar .toolbar-category-selected {
    border-radius: 5px;
    background: #252526;
    color: #ffffff;
}

#toolbar .toolbar-category-dropdown {
    display: block;
    position: absolute;
    background: #252526;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    height: fit-content;
    width: max-content;
    margin: 0;
    z-index: 100;

    border: 1px solid #484848;
    border-radius: 5px;
}

#toolbar .toolbar-category-dropdown .toolbar-category {
    display: block;
    border: none;
    cursor: pointer;

    background: transparent;
    color: #dddddd;
    text-decoration: none;
    text-align: left;
    font-size: 1em;

    width: auto;
    height: auto;
    
    margin: 5px;
}

#toolbar .toolbar-category-dropdown .toolbar-category-expand {
    display: inline;
    background: transparent;
    color: #dddddd;
    text-decoration: none;
    text-align: center;
    font-size: 0.75em;
    font-family: 'NerdFontsSymbols Nerd Font', monospace;
    width: auto;
    height: 100%;

    padding-left: 20px;
    float: right;
}

#toolbar .toolbar-category-dropdown .toolbar-tool {
    display: block;
    border: none;
    cursor: pointer;

    background: transparent;
    color: #dddddd;
    text-decoration: none;
    text-align: left;
    font-size: 1em;

    width: auto;
    height: auto;
    
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

#toolbar .toolbar-category-dropdown .toolbar-tool:hover {
    border-radius: 5px;
    background: #04395e;
    color: #ffffff;
}

#toolbar .toolbar-category-dropdown .toolbar-category:hover {
    border-radius: 5px;
    background: #04395e;
    color: #ffffff;
}

#toolbar .toolbar-category-dropdown .toolbar-category-selected {
    border-radius: 5px;
    background: #04395e;
    color: #ffffff;
}

.canvas {
    width: 100%;
    height: 100%;

    color: #0c0c0c;
    --grid-size: 20px;
    --grid-strength: 1px;
    --grid-dash: 8px;
    --grid-gap: 5px;
    --grid-color: #1c1c1c;
    --paper-color: #0c0c0c;

    background-color: var(--paper-color);
    background-size: var(--grid-dash) var(--grid-dash), var(--grid-size) var(--grid-size);
    background-image:
        linear-gradient(to bottom, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)), 
        linear-gradient(to right, var(--grid-color) var(--grid-strength), transparent var(--grid-strength)),
        linear-gradient(to right, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)),
        linear-gradient(to bottom, var(--grid-color) var(--grid-strength), transparent var(--grid-strength));
}